/**
 * Stylesheet:  style.css
 * Theme:       Luxelife - Architecture & Interior Design HTML5 Template
 * Version:     1.0
 * Author:     	MonPakhi
 * 
 */
/* Table of contents
=========================
1.Preloader
2.Scrollup
3.Nav Menu
4.Slider Section
5.Info Card
6.Icon Card
7.About Image Card
8.About Info Card
9.Counter Card
10.Process Step Card
11.Testimonial Card
12.Accordion Card
13.Client Logo Card
14.Post Card
15.Skill Progress Card
16.Price Card
17.Call To Action Card
18.Title Card
19.Breadcrumb
20.Pagination's
21.Project Details Page
22.Sidebar
23.Comment List
24.Comment Form
25.Team Member
26.Portfolio
27.About Page
28.Contact Page
29.Service Page
30.Team Page
Footer


===========================*/
/* Theme Default CSS */
@import "base/variables";
@import "base/mixin";
@import "base/theme-default";
@import "base/default-spacing";
@import "base/unittest";
@import "base/keyframes";

// 1.Preloader
@import "components/preeloader";

// 2.Scrollup
@import "base/scrollup";

// 3.Nav Menu
@import "base/header";
@import "base/header-one";
@import "base/header-two"; 
@import "base/header-three"; 
@import "components/meanmenu";
@import "base/menu-sidebar";
@import "base/title-section";


// 4.Slider Section
@import "components/slider/slider-style-one";
@import "components/slider/slider-style-two"; 
@import "components/slider/slider-style-four";  

// 5.Info Card 
@import "components/info-card/_info-card";
@import "components/info-card/info-card-two";
@import "components/info-card/info-card-three";
@import "components/info-card/info-card-five";

// 6.Icon Card
@import "components/icon-card/icon-card";
@import "components/icon-card/icon-card-two"; 
@import "components/icon-card/icon-card-four"; 

// 7.About Image Card
@import "components/about-image-card/about-image-card-two";
@import "components/about-image-card/about-image-card-one";
@import "components/about-image-card/about-image-card-four";
@import "components/about-image-card/about-image-card-three";
@import "components/about-image-card/about-image-card-five";

// Timeline Card 

// 8.About Info Card
@import "components/about-info-card/about-info-card";
@import "components/about-info-card/about-info-card-two";  


// 9.Counter Card
@import "components/counter/counter-card"; 
@import "components/counter/counter-card-three"; 

// 10.Process Step Card 

// 10.Brand Marquee
@import "components/brand-marquee/brand-marquee";


// 11.Testimonial Card
@import "components/testimonial-card/testimonial-card";
@import "components/testimonial-card/testimonial-card-two"; 
@import "components/testimonial-card/testimonial-card-four";  
@import "components/testimonial-card/testimonial-slider-card";

// 12.Accordion Card
@import "components/accordion/accordion";  

// 13.Client Logo Card
@import "components/client-logo/client-logo";

// 14.Post Card
@import "components/post-card/post-card";
@import "components/post-card/post-card-one";
@import "components/post-card/post-card-two"; 
@import "components/post-card/post-card-four";  
@import "components/post-card/post-details";

// 15.Skill Progress Card
@import "components/skill-progress";

// 16.Price Card
@import "components/price-card";

// 17.Call To Action Card
@import "components/call-to-action-card";

// 18.Title Card
@import "base/title-section";

// 19.Breadcrumb
@import "components/breadcrumb/breadcrumb";

// 20.Pagination's
@import "components/paginations";
@import "components/nav-tabs";

// 21.Project Details Page
@import "layouts/project-details";
@import "components/list-item";

// 22.Sidebar
@import "base/sidebar";
@import "base/sidebar-two";

// 23.Comment List
@import "components/comment-list";

// 24.Comment Form
@import "components/comment-form";

// 25.Team Member
@import "components/team/team-member";
@import "components/team/team-slider-controls";

// 26.Portfolio
@import "components/portfolio/portfolio"; 
//@import "components/portfolio/portfolio-slider-controls";

// Image Card
@import "components/image-card/image-card";

// Video Popup Modal Card
@import "components/video-popup-card/video-popup-card";  


//Portfolio Slider
@import "components/project-card/project-card";
@import "components/project-card/project-card-two"; 


// Masonry Portfolio Gallery
@import "components/masonary-portfolio-gallery/masonary-portfolio-gallery";

// layouts
@import "layouts/pages";

// 27.About Page

// 28.Contact Page
@import "layouts/contact-page";

// 29.Service Page
@import "layouts/service-page";

// 30.Team Page
@import "layouts/team-member";

// Footer   
@import "base/footer-one";
@import "base/footer-two"; 
@import "base/footer-three";