.info-card {
  &.style-two {
    padding: 0 40px 40px 40px;
    border: 1px solid $gray-200;
    background-color: $white;

    .content {
      .desc {
        @include xs {
          font-size: 14px;
        }
      }
    }

    .title-wrapper {
      padding-bottom: 20px;
      .title {
        @include xs {
          font-size: 22px;
        }
      }
      .icon {
        background-color: $primary-color;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        margin-top: -1px;
        padding: 8px;
        flex-shrink: 0;

        @include sm {
          width: 60px;
          height: 60px;
        }
      }

      .counter-number {
        font-family: $heading-font;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px; 
        text-transform: capitalize; 
        color: $black;
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        opacity: 0.1;
      }
    }
  }
}