.video-popup-card {
  position: relative;
  overflow: hidden;

  

  .video-popup-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .video-popup-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      width: 155px;
      height: 155px;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
      background-color: $primary-color;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      animation: ripple 3s infinite;
      display: flex;
      align-items: center;
      justify-content: center;

      @include md {
        width: 100px;
        height: 100px;
      }
      @include sm {
        width: 80px;
        height: 80px;
      }

      i {
        color: $white;
        font-size: 24px;
      }
      &:hover {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none;
      }
    }
  }

  //// Style Two
  //&.style-two {
  //  padding: 0;
  //  margin-bottom: -78px;
  //  box-shadow: none;
  //
  //  @include rmaxwd(991) {
  //    margin-bottom: 80px;
  //  }
  //
  //  .video-popup-btn {
  //    a {
  //      width: 100px;
  //      height: 100px;
  //      background-color: rgba(255, 103, 49, 0.84);
  //      background-image: none;
  //    }
  //  }
  //}
  // &.style-three {
  //  overflow: visible;
  //  padding: 0;
  //  box-shadow: none;
  
  //  .video-popup-image {
  //    border-radius: 12px;
  //    overflow: hidden;
  //  }
  //  .video-popup-btn {
  //    left: 0;
  //    @include rmaxwd(1199) {
  //      left: 50%;
  //    }
  //    a {
  //      width: 135px;
  //      height: 135px;
  //      @include gradient-color-red;
  
  //      @include rmaxwd(767) {
  //        width: 80px;
  //        height: 80px;
  //      }
  //    }
  //  }
  // }
    &.style-four {  
   @include rmaxwd(991) {
     margin-bottom: 80px;
   }
  
   .video-popup-btn {
     a {
      border: 1px solid #ffffff;
      background-color: initial;
      width: 130px;
      height: 130px;
       i{
        color: $primary-color;
        font-size: 46px;
        margin-top: 8px;
        margin-left: 6px;
       }
     }
   }
  }
}
