// Archive Post Title
.page-header {
  border-left: 4px solid #dfe2e9;
  padding-left: 45px;
  margin-bottom: 50px;

  @include rmaxwd(991) {
    padding-left: 30px;
  }
  .page-title {
    font-size: 48px;
    line-height: 60px;

    @include rmaxwd(991) {
      font-size: 38px;
      line-height: 48px;
    }
  }
}
.blog-section {
  ol,
  ul {
    padding-left: 20px;

    li {
      padding-top: 7px;
    }
  }
}

// Standard Blog Post
.single-post-item {
  background-color: $white;
  //border-radius: 12px;
  overflow: hidden;
  margin-bottom: 60px;
  //border: 1px solid $gray-300;
  box-shadow: 0 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);

  &:hover {
    // Post Image
    .post-thumbnail,
    .post-video {
      img {
        transform: scale(1.06);
        @include transition;
      }
    }
  }

  iframe {
    width: 100%;
    height: 522px;

    @include sm {
      height: 350px;
    }
  }
  .post-content-wrapper {
    padding: 40px;
    @include lg{
      padding: 28px;
    }
    @include sm {
      padding: 20px;
    }
    @include md{
      padding: 30px;
    }
    .read-more {
      margin-top: 30px;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      background-color: $gray-100;
      padding: 20px;
      @include sm{
        gap: 10px;
      }
      .theme-btn {
        padding: 0;
        color: $black;
        background-color: transparent;
        border: 0;
        gap: 10px;

        i {
          color: $primary-color;
        }

        &:hover {
          color: $primary-color;
        }
      }
      .comment-meta-wrapper {
        display: flex;
        align-items: center;
        gap: 9px;
        padding-left: 20px;
        @include sm{
          padding-left: 0;
        }
        .icon {
          color: $primary-color;
          font-size: 14px;
        }
        .comment-meta {
          font-size: 16px;
          color: $gray-800;
          font-family: $body-font;
        }
      }

    }
  }
  /* Quote Format Post */
  &.format-quote {
    .post-content {
      margin: 0;
    }
    blockquote {
      margin: 0;
      p {
        margin-top: 0;
      }
      cite {
        a {
          font-family: $body-font;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          color: $text-color;
          margin-top: 20px;
          font-style: normal;
          @include transition;

          &:hover {
            @include transition;
            color: $primary-color;
          }
        }
      }
    }
  }
  /* Sticky Post */
  &.sticky {
    border: 2px solid $primary-color;

    .post-content {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }

  .post-title {
    font-size: 32px;
    line-height: 41px;
    font-weight: 700;
    //margin-bottom: 10px;
    margin-bottom: 0;

    @include sm {
      font-size: 28px;
      line-height: 38px;
      margin-top: 5px;
      //margin-bottom: 5px;
    }

    &:hover {
      a {
        color: $primary-color;
        @include transition;
      }
    }
  }
  .post-content {
    p {
      margin-top: 17px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: unset;
    }
  }

  .single-post-meta {
    display: inline-flex;
    align-items: flex-start;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  // Social Share
  .social-share {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;

    a {
      &.facebook {
        color: #1877f2;
      }
      &.twitter {
        color: #1da1f2;
      }
      &.linkedin {
        color: #1a70c6;
      }
    }

    .social-share-title {
      font-size: 18px;
      font-weight: 700;
      font-family: $heading-font;
      color: $secondary-color;
      margin-right: 5px;
      white-space: nowrap;
    }
  }
  // Post Tags
  .blog-post-tag {
    display: inline-flex;

    span {
      font-size: 16px;
      font-weight: 500;
      display: inline-block;
      font-family: $heading-font;
      color: $secondary-color;
      margin-bottom: 0;
      margin-right: 30px;
      text-transform: uppercase;
      float: left;
      line-height: 24px;
    }
    .post-tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      align-items: center;
      line-height: 0;

      a {
        color: $text-color;
        display: inline-block;
        font-size: 18px;
        line-height: 1;
        @include transition;

        &:hover {
          color: $primary-color;
          @include transition;
        }
      }
    }
  }

  // Post Image
  .post-thumbnail,
  .post-video {
    position: relative;
    overflow: hidden;

    img {
      transform: scale(1);
      @include transition;
    }

    .popup-video-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-btn {
      a {
        width: 70px;
        height: 70px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        background-color: #ffffff;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary-color;
          font-size: 18px;
        }
        &:hover {
          animation: none;
        }
      }
    }
  }

  // Post Gallery Slick Button
  button.post-gallery-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: #ffffff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 17px;
      @include transition;
    }
    &:hover {
      @include transition;
      background-color: $primary-color;

      i {
        color: $white;
        @include transition;
      }
    }
  }

  // Post Audio
  .post-audio {
    iframe {
      width: 100%;
    }
  }
  // Post Meta
  .post-meta {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include sm {
      gap: 10px;
      width: 100%;
    }
    .author-img {
      width: 37px;
      height: 37px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    span {
      font-size: 18px;
      font-weight: 400;
      color: $text-color;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        color: $blue-color;
        font-size: 18px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $text-color;
        @include transition;

        &:hover {
          color: $primary-color;
          @include transition;

          i {
            color: $primary-color;
            @include transition;
          }
        }
      }
    }
  }
}
