.brand-animation{
    padding: 150px 0px 0px;
    &.style-one{ 
        .text-wrapper{ 
            display: flex;
            justify-content: flex-start;
            background: $gray-200;
            overflow: hidden;
    
            h1{
                font-family: 'Rajdhani',sans-serif;
                font-size: 68px;
                font-weight: 700;
                line-height: 78px;
                letter-spacing: 0px;
                text-align: left;
                text-transform: uppercase;
                color: $white;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $secondary-color;
                text-stroke-color: $primary-color;
                white-space: nowrap;
                padding: 0.6rem;
                letter-spacing: 1px;
                animation: move-rtl 32000ms linear infinite;
                -webkit-animation: move-rtl 32000ms linear infinite;
                &img
                {
                    margin-left: 20px;
                }

                &.bold{  
                    color: $secondary-color;  

                }
                
                
            }
        }
    }
}