.section-heading{
    &.style-1{
        text-align: center;
        h4{
            color: rgb(217, 161, 76);
            font-family: Rajdhani;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: 4px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 10px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
    
            @include md{
                font-size: 16px;
            }
            @include sm{
                font-size: 14px;
            }
            &::before{
                content: "";
                width: 20px;
                height: 1px;
                border-bottom: 1px solid #D9A14C;
                flex: 1 1;
            }
            &::after{
                content: "";
                width: 20px;
                height: 1px;
                border-bottom: 1px solid #D9A14C;
                flex: 1 1;
            }
        }
        
        h2{
            color: rgb(35, 38, 45);
            font-family: Rajdhani;
            font-size: 48px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: 0px;
            text-align: center;
            text-transform: capitalize;
            
            @include md{
                font-size: 30px;
                line-height: 40px;
            }
            @include sm{
                font-size: 24px;
                line-height: 30px;
            }
           
        }
    }
}

