.comment-form{
    &.style-one{
        .comment-form-title{
            h1{ 
                font-family: 'Rajdhani',sans-serif;
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                margin-bottom: 15px;
                letter-spacing: 0px;
                text-align: center;
                color: $text-title-color;

            }
        }
        .comment-form-text{
            p{ 
                font-family: 'Rubik',sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 25px;
                letter-spacing: 0px;
                text-align: center;
                color: $text-paragraph-color;

            }
        }
        .comment-form-input-fields{
            .subscribe-form{
                form{
                    .form-group{ 
                        input[type="text"],input[type="email"] { 
                        width: 100%;
                        padding: 30px 0px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        margin-bottom: 30px;
                        &::placeholder{
                            text-indent: 15px;
                        }
                        &:focus {
                            border: 1px solid $primary-color!important;
                        }
                      }

                      textarea{
                        width: 100%;
                        padding: 98px 0px;
                        border: 1px solid $border;
                        border-radius: 5px;
                        margin-bottom: 45px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        color: $gray-200;
                        background: $white;
                            &:focus{
                                border-color: transparent;
                            }
                            &::placeholder{
                                text-indent: 15px;
                            }
                        }

                        .comment-btn{ 
                            font-family: 'Rajdhani',sans-serif;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 32px;
                            letter-spacing: 1.2799999713897705px; 
                            padding: 30px 60px;
                            background: $primary-color;
                            color: $white;
                            border-radius: 5px;
                            text-decoration: none;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;

                            i{ 
                                font-size: 16px;
                                font-weight: 900; 
                                letter-spacing: 0em;
                                margin-left: 5px; 
                                color: $white;
                            }
}
                      }
                    }
                }
            }
        }
    }

