
.intro-section  {
    &.style-one {
      @media only screen and (min-width: 0px) and (max-width: 434px){
        height: 1055px;
      }
      @media only screen and (min-width: 435px) and (max-width: 575px){
        height: 1100px;
      }
      @media only screen and (min-width: 577px) and (max-width: 767px){
        padding-bottom: 0;
        height: 1155px;
      }
      @include md {
        padding-bottom: 80px;
      }
      @include xl{
        padding-bottom: 80px;
      }
      @include lg{
        padding-bottom: 60px;
      }
  
      .slider-bg {
        @include rmaxwd(1199){
          background-color: $gray-100;
        }
        @include rwd(1400) {
          width: 725px;
        }
      } 
    }
  }
 