.counter-card{ 
    &.style-four{
        border: 1px solid #4C5261;
        background: #23262D;
        .counter-up-wrapper{
            padding: 20px 30px;
            .number{ 
                .counter{ 
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $white;
                    font-family: $heading-font;
                    font-size: 68px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 115%; /* 78.2px */

                }
                .suffix{
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $white;
                    font-family: $heading-font;
                    font-size: 68px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 115%; /* 78.2px */
                    
                }
            }
            .title{
                color: $white; 
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 187.5% */
            }
        }
    }
}