.blog-news-card {
    &.style-one{ 
        position: relative;
        height: 650px;
        .card-image{
            img{
                z-index: 1;
                @include transition;
            }
        }

        .card-content{
            position: absolute;
            width: 90%;
            bottom: 15%;
            padding: 15px 25px 70px;
            box-shadow: $box-shadow;
            border-bottom: 1px solid transparent;
            background: $white;
            z-index: 2;
            @include transition;
            .content-history{
                display: flex;
                align-items: start;
                justify-content: start;

                .icon-content{
                    margin-right: 25px;
                }
            }

            .content-title{
                h3{ 
                    font-family: 'Rajdhani',sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: left; 
                    color: $text-title-color;
                }
            }

            .content-description{
                p{
                    font-family: 'Rubik',sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0px;
                    margin: 15px 0px 30px;
                    text-align: left;
                    color: $text-paragraph-color;
                }
            }

            .btn-wrapper{
                margin-top: 55px;
            }
            transform: translateY(25%);
            -webkit-transform: translateY(25%);
            -moz-transform: translateY(25%);
            -ms-transform: translateY(25%);
            -o-transform: translateY(25%);
}

        &:hover{
            .card-image{
                img{
                    transform: scaleY(1.05);
                    -webkit-transform: scaleY(1.05);
                    -moz-transform: scaleY(1.05);
                    -ms-transform: scaleY(1.05);
                    -o-transform: scaleY(1.05);
                }
            }

            

            .card-content{
                border-bottom: 1px solid $primary-color;
            }

        }
    }
}