.blog-news-card {
    &.style-two{   
        .card-image{ 
            overflow: hidden;
            img{ 
                width: 105%;
                @include transition;
                }
        }

        .card-content{  
            padding: 20px 40px 70px;
            box-shadow: $box-shadow;
            border-bottom: 1px solid transparent;
            background: $white; 
            @include transition;
            .content-history{
                display: flex;
                align-items: start;
                justify-content: start; 
                margin-bottom: 20px;
                .icon-content{
                    margin-right: 25px; 
                    .icon{
                        i{
                            color: $secondary-color;
                            @include transition;
                        }
                    }
                }
            }

            .content-title{
                margin-bottom: 70px;
                h3{ 
                    font-family: 'Rajdhani',sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: left; 
                    color: $text-title-color;
                }
            }

}

        &:hover{
            .card-image{
                img{
                    transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                    -moz-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                    -o-transform: scale(1.05);
}
            }

            

            .card-content{
                border-bottom: 1px solid $primary-color;

                .content-history{
                    .icon-content{ 
                    .icon{
                        i{
                            color: $primary-color;
                        }
                     }
                    }
                }
            }

        }
    }
}