.price-area{
    &.style-1 {
        @include md {
            padding-bottom: 100px;
        }
        @include sm {
            padding-bottom: 80px;
        }
    }
    .container{
        position: relative;
        z-index: 20;
    }
}