.cta-section {
  padding: 120px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 38, 45, 0.80);

  }
  .cta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    
  }


  .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    gap: 10px;
    .short-title {
      margin-bottom: 0;
    }
    .title {
      color: $white;
    }
  }
 
}