#preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999999;
  right: 0;
  bottom: 0;
}

#preloader-status {
  height: 210px;
  width: 210px;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  position: absolute;
  left: 50%;
  top: 50%;
}