
.header-section {
  &.style-one {
    display: flex;
    align-items: center;
    position: relative;

    .logo-wrapper {
      position: relative;
      z-index: 9999;
      height: 120px;
      display: flex;
      align-items: center;
      background-color: $black;
      //clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
      margin-left: -200px;
      // margin-bottom: -20px;
      @include sm{
        height: 100px;
        margin-bottom: 0;
      }
      &:before {
        position: absolute;
        content: "";
        width: 9999px;
        right: 0;
        background-color: $black;
        height: 100%;
      }


      &:after {
        position: absolute;
        content: "";
        top: 0;
        right: -70px;
        z-index: -1;
        height: 100%;
        border-left: 70px solid $black;
        border-bottom: 120px solid transparent;
        @include sm{
          border-bottom: 100px solid transparent;
        }
      }
      @include rmaxwd(1399) {
        margin-left: 0;
      }
    }
    .header-menu-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-btn-with-btn {
        margin-left: unset;
        margin-right: -200px;

        @include rmaxwd(991) {
          display: none;
        }

        @include rmaxwd(1399) {
          margin-right: 0;
        }
        .btn-wrapper {
          @include rmaxwd(1199) {
            display: none;
          }
        }
      }
    }

    // Start Header Nav
    .header-menu-section {
      padding: 0 300px;

      @include rmaxwd(1399) {
        padding: 0;
      }

      &.sticky_menu {

        .logo-wrapper{
          height: 100px;
          margin-bottom: 0;
          background-color: transparent;

          &:before,
          &:after {
            border: 0;
            background-color: transparent;
          }
        }
        .main-menu {
          ul {
            li {
              a {
                color: $black;
                @include transition;

                &:hover {
                  color: $primary-color;
                }
              }
              ul {
                li {
                  a {
                    &:hover {
                      color: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .main-menu {
        ul {
          li {
            a {
              color: $black;
              @include transition;
              padding: 35px 24px;

              &:hover {
                color: $primary-color;
              }
            }
            ul {
              li {
                a {
                  padding: 10px 20px;

                  &:hover {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

