// MOVE RTL ANIMATION
@keyframes move-rtl{
    0% {
      transform: translateX(-100%);
      //transform: translateX(50vw);
      //transform: translateX(50vw);
      //-webkit-transform: translateX(50vw);
      //-moz-transform: translateX(50vw);
      //-ms-transform: translateX(50vw);
      //-o-transform: translateX(50vw);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}
    100% {
      transform: translateX(100%);
      //transform: translateX(-50vw);
      //transform: translateX(-50vw);
      //-webkit-transform: translateX(-50vw);
      //-moz-transform: translateX(-50vw);
      //-ms-transform: translateX(-50vw);
      //-o-transform: translateX(-50vw);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
}
  
}


