
.background-gray{
    background: $gray-200;
}

.background-white{
    background: $white;
}

.background-black{
    background: $black;
}
//ALL BUTTONS
.theme-btn{ 
    padding: 25px;
    font-family: 'Rajdhani',sans-serif;
    font-size: 16px;
    font-weight: 700; 
    letter-spacing: 1.2799999713897705px;
    text-align: center;
    border: 1px solid $primary-color;
    box-shadow: $box-shadow;
    color: $primary-color;
    background: $white;
    text-decoration: none;
    @include transition;

    &:hover{ 
        border: 1px solid transparent;
        color: $white;
        background: $primary-color;
    }

}

.theme-btn-two{ 
    padding: 30px 70px;
    font-family: 'Rajdhani',sans-serif;
    font-size: 16px;
    font-weight: 700; 
    letter-spacing: 1.2799999713897705px;
    text-align: center;
    border: 1px solid transparent;
    color: $white;
    background: $primary-color;
    box-shadow: $box-shadow;
    text-decoration: none;
    @include transition;

    &:hover{ 
        border: 1px solid $primary-color;
        color: $primary-color;
        background: $white;
    }

} 

.theme-btn-three{ 
    padding: 18px 30px;
    font-family: 'Rajdhani',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.2799999713897705px;
    text-align: center; 
    border: 1px solid transparent;
    cursor: pointer;
    color: $white;
    background: $primary-color;
    box-shadow: $box-shadow;
    text-decoration: none;
    @include transition;

    &:hover{
        border: 1px solid $primary-color;
        color: $primary-color;
        background: $white;
    }

}

