.work-process{
    &.style-1{
        padding: 120px 0;
        background: #fff;
        position: relative;
        z-index: 999;
        @include md{
            padding: 70px 0;
        }
        @include sm{
            padding: 50px 0;
        }
        .bg-section{
            position: absolute;
            height:83%;
            width: 60%;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .heading-title{
            margin-bottom: 60px;
            @include lg{
                margin-bottom: 40px;
            }
            @include md{
                margin-bottom: 30px;
            }
            @include sm{
                margin-bottom: 30px;
            }
            .paragraph-title{
                margin: 97px 0 0px 97px;
                @include lg{
                    margin: 20px 97px 0px 97px;
                }
                @include md{
                    margin: 20px 97px 0px 97px;
                }
                @include sm{
                    display: none;
                }
                p{
                    color: rgb(97, 102, 112);
                    font-family: Rubik;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: left;
                    @include lg{
                        text-align: center;
                    }
                    @include md{
                        text-align: center;
                    }
                }
            }
        }
        .work-process-items{
            .work-process-contain{
                border: 1px solid rgb(227, 227, 227);
                box-sizing: border-box;
                padding: 0 42px 40px 42px;
                transition: all 0.5s ease-out;
                @include lg{
                    padding: 0 27px 25px 27px;
                }
                @include md{
                    padding: 0 10px 20px 10px;
                }
                @include sm{
                    margin-bottom: 20px;
                    padding: 0 20px 20px 29px;
                }
                
                .icons-wrapper{
                    margin-bottom: 30px;
                    @include lg{
                        margin-bottom: 25px;
                    }
                    @include md{
                        margin-bottom: 20px;
                    }
                    @include sm{
                        margin-bottom: 10px;
                    }
                    .image-wrapper{
                        width: 80px;
                        height: 80px;
                        background: #D9A14C;
                        padding: 18px;
                        img{
                            max-width: 100%;
                            transition: all 0.5s ease-out;
                        }
                    }
                    .number-wrapper{
                        h4{
                            font-size: 68px;
                            font-weight: 700;
                            line-height: 1;
                            color: #ffffff;
                            -webkit-text-stroke: 2px black;
                            opacity: 0.3;
                            font-family: Rajdhani;
                            margin: 10px;
                            
                            @include lg{
                                margin: 10px;
                            }
                            @include md{
                                font-size: 55px;
                                margin: 10px;
                            }
                        }
                    }
                }
                .title-wrapper{
                    h3{
                        color: #23262D;
                        font-family: Rajdhani;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 30px;
                        letter-spacing: 0px;
                        text-align: center;
                        margin-bottom: 20px;
                        @include lg{
                            margin-bottom: 15px;
                        }
                        @include md{
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        @include sm{
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }
                    p{
                        color: #616670;
                        font-family: Rubik;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0px;
                        text-align: center;
                        @include lg{
                            font-size: 12px;
                            
                        }
                        @include md{
                            font-size: 10px;
                            line-height: 25px;
                            
                        }
                    }
                }
                &:hover{
                    border: 1px solid #D9A14C; 
                    .image-wrapper{
                        img{
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}