// Contact Form section
.contact-form-section {
  position: relative;
  .shape-1{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .shape-2{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .contact-info-section {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    padding: 46px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm{
      padding: 40px 20px;
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
    @include md{
      padding: 40px 30px;
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
    @include lg{
      padding: 40px 20px;
    }
    .divider{
      width: 1px;
      height: 28px;
      background-color: $gray-200;
      @include rmaxwd(991){
        width: 100%;
        height: 1px;
      }
    }
    .contact-card{
      display: flex;
      gap: 20px;
      .icon{
        margin-top: 8px;
        i{
          font-size: 24px;
          color: $primary-color;
          @include sm{
            font-size: 18px;
          }
          @include lg{
            font-size: 18px;
          }
        }
      }
      .desc{
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: $text-color;
        font-family: $body-font;
      }
      .info-title{
        @include sm{
          font-size: 24px;
        }
        @include lg{
          font-size: 24px;
        }
      }
    }
  }
  .comment-respond {
    padding: 0;
    margin-top: 0px;
    border: 0;

    @include rmaxwd(991) {
      margin-top: 50px;
    }
    .theme-btn{
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
  .image-wrapper{
    text-align: right;
    height: 100%;
    @include lg{
    }
    img{
      height: 100%;
      @include lg{
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .map-widget{
    padding-left: 20px;
    height: 100%;
    @include rmaxwd(991){
      padding-left: 0;
    }
    @include lg{
      padding-left: 0;  
    }
    iframe{
      height: 100%;
    }
  }
  &.style-2{
    .post-comments-title{
      h2,
      .desc{
        color: $white;
      }
    }
    .comment-respond {
      input, 
      select,
      textsection{
        background-color: transparent;
        color: $white;
        border-color: $gray !important;
      }
      *::placeholder {
        color: $white;
      }
    }
  }
  &.style-3{
    .contact-form-inner{
      background-color: $gray-100;
    }
    .comment-respond{
      padding: 60px;
      padding-right: 0;
      @include sm{
        padding: 30px;
        margin-top: 10px;
      }
      @include md{
        padding: 30px;
      }
      @include lg{
        padding: 40px;
        padding-right: 10px;
      }
      .theme-btn{
        width: auto;
      }
    }
    .map-widget{
      iframe{
        border-radius: 0;
      }
    }
  }
}