.faq-section{
    .section-title{
        margin-bottom: 0;
    }
    .search-form{
        border: 1px solid $gray-200;
        margin-top: 30px;
        input{
            height: 50px;
        }
        button{
            background-color: $primary-color;
            i{ 
                color: $white;

            }
        }
    }
    .accordion-wrapper{
        margin-top: 57px;
        padding: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $gray-100;
        @include sm{
            padding: 10px 30px;
        }
    }
}