footer{
  
  .footer-bg{
    position: relative;
    z-index: 999;
    padding: 120px 0;
    background-size: contain;
    background-position:center ;
    &::before{
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(180.00deg, rgba(35, 38, 45, 0.9),rgb(35, 38, 45) 100%);
      top: 0;
      left: 0;
      content: "";
      z-index: -1;
    }
    .footer-widget{
      .footer-widget-info{
        .footer-logo{
          margin-bottom: 28px;
        }
        .footer-widget-contain{
          p{
            @include footer-pra;
          }
        }
        .social-profile{
          a{
            width: 30px;
            height: 30px;
            background: rgba(244, 244, 244, 0.1);
            display: inline-block;
            text-align: center;
            line-height: 30px;
            margin-right: 10px;
            span{
              color: #FFFFFF;
              &.icon-facebook{
                &::before {
                  content: "\e906";
                  font-size: 16px;
                }
              }
              &.icon-twiter{
                &::before {
                  content: "\e905";
                  font-size: 16px;
                }
              }
              &.icon-instaragram{
                &::before {
                  content: "\e904";
                  font-size: 16px;
                }
              }
              &.icon-pichat{
                &::before {
                  content: "\e903";
                  font-size: 16px;
                }
              }
            }
            &:hover{
              span{
                color: red;
              }
            }
          }
        }
      }
      .footer-widget-contract-info{
        .contract-header{
          h3{
            @include footer-heading;
          }
        }
        .footer-widget-contain{
          p{
            @include footer-pra;
            margin-bottom: 20px
          }
        }
        .footer-widget-contact{
          .footer-contact{
            ul{
              li{
                display: flex;
                margin-bottom: 10px;
                .contract-icon{
                  span{
                    color: rgb(217, 161, 76);
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-align: center;
                    &.icon-inbox{
                      &::before {
                        content: "\e909";
                      }
                    }
                    &.icon-location{
                      &::before {
                        content: "\e908";
                      }
                    }
                    &.icon-calling-{
                      &::before {
                        content: "\e907";
                      }
                    }
                    
                  }
                }
                .contract-text{
                  margin-left: 7px;
                  a{
                    color: rgb(255, 255, 255);
                    font-family: Rubik;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    text-align: left;
                  }
                  span{
                    color: rgb(255, 255, 255);
                    font-family: Rubik;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
      .footer-widget-servicse-info{
        .footer-heading{
          h3{
            @include footer-heading;
          }
        }
        .footer-widget-servicse{
          .footer-servicse{
            ul{
              li{
                display: flex;
                .footer-servicse-icon{
                  .icon--6{
                    &:before {
                      content: "\e902";
                      color: #fff;
                      color: rgb(255, 255, 255);
                      font-size: 14px;
                      font-weight: 900;
                      line-height: 14px;
                      letter-spacing: 0%;
                      text-align: left;

                    }
                  }
                }
                .footer-servicse-text{
                  margin-left: 8px;
                  margin-bottom: 10px;
                  a{
                    color: rgb(255, 255, 255);
                    font-family: Rubik;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
      .footer-widget-newslatter-info{
        .newslatter-header{
          h3{
            @include footer-heading;
          }
        }
        .footer-widget-contain{
          p{
            @include footer-pra;
          }
        }
        .footer-widget-newslatter{
          .footer-newslatter{
            form{
              display: flex;
              flex-direction: row;
              border-radius: 5px;
              height: 55px;
              width: 65px;
              input{
                width: 300px;
                height: 55px;
                color: rgb(255, 255, 255);
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0px;
                text-align: left;
                padding-left: 20px;
                border: 1px solid#D9A14C;
              }
              .subscribe-btn{
                height: 100%;
                width: 100%;
                padding: 18px 20px;
                background: #D9A14C;
                border: 1px solid#D9A14C;
                span{
                  &.icon--7{
                    &::before {
                      content: "\e90a";
                      color: #fff;
                      font-size: 16px;
                      font-weight: 900;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}