.footer {
    position: relative;
    z-index: 2;
    overflow: hidden;
  
    .mt-50.mb-50 {
      @include rmaxwd(1199) {
        margin: 0;
      }
    }
  
    .footer-sec {
      padding-top: 100px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $black;
  
      @include rmaxwd(767) {
        padding-top: 60px;
      }
    }
  
    //footer Background
    // .footer-bg {
    //   position: absolute;
    //   bottom: 30px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   z-index: -1;
    // }
  }
  
  .footer-widget-title {
    font-family: $heading-font;
    font-size: 21px;
    line-height: 26px;
    color: $white;
    position: relative;
    margin-bottom: 26px;
    font-weight: 700;
  }
  
  .footer-widget {
    margin-bottom: 30px;
  
    @include rmaxwd(991) {
      margin-bottom: 50px;
    }
  
    ul {
      padding-left: 0;
    }
  
    // Footer Latest Post
    &.widget_swiftbiz-latest-posts-footer {
      margin-top: -5px;
    }
  
    // Footer Instagram
    &.zoom-instagram-widget {
      @include rmaxwd(767) {
        margin-bottom: 0;
        margin-top: -10px;
      }
    }
  
    // Footer About Info
    &.widget_swiftbiz_contact_info_widget {
      @include rmaxwd(767) {
        margin-bottom: 18px;
      }
    }
  
    .widget-instagram-feed {
      @media only screen and (min-width: 992px) and (max-width: 1399px) {
        width: 170px;
      }
    }
  
    // Footer Info Widget
    .footer-widget-info {
      padding-right: 30px;
  
      @include rmaxwd(1199) {
        padding-right: 0;
      }
  
      p {
        color: $white-100;
        margin-bottom: 30px;
      }
  
      .footer-logo {
        margin-bottom: 30px;
        display: inline-block;
      }
  
      .info-form-and-social-icon {
        display: flex;
        align-items: center;
        gap: 50px;
  
        .subscribe-form-widget {
          border-radius: 6px;
  
          .single-field {
            input {
              height: 60px;
            }
          }
        }
  
        .social-profile {
          margin-top: 0;
        }
      }
  
      .social-profile {
        gap: 20px;
        margin-top: 30px;
      }
  
      @include sm {
        .info-form-and-social-icon {
          flex-direction: column;
          align-items: start;
          gap: 30px;
        }
      }
    }
  
    // Footer Menu Widget
    &.widget_nav_menu {
      ul {
        margin-top: -5px;
        padding-left: 0;
        margin-bottom: 0;
      }
  
      li {
        position: relative;
        display: inline-block;
        width: 100%;
        padding-bottom: 10px;
  
        &:last-child {
          padding-top: 0;
          padding-bottom: 0;
        }
  
        a {
          color: $white-100;
          text-transform: capitalize;
          font-size: 18px;
          @include transition;
          position: relative;
  
          &:hover {
            @include transition;
            color: $primary-color;
          }
        }
      }
    }
  
    // Footer Contact Widget
    .footer-widget-contact {
      p {
        color: $white-100;
      }
  
      .footer-contact ul {
        list-style: none;
  
        li {
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          line-height: 24px;
          gap: 20px;
  
          &:first-child {
            align-items: flex-start;
  
            .contact-icon {
              margin-top: 5px;
            }
          }
  
          &:last-child {
            margin-bottom: 0;
          }
  
          .contact-icon {
            color: $white;
            border-radius: 50px;
            float: left;
            display: flex;
            align-items: center;
            flex-shrink: 0;
          }
  
          .contact-text {
            color: $white-100;
            font-size: 18px;
            line-height: 24px;
            overflow: hidden;
  
            a {
              &:hover {
                span {
                  color: $primary-color;
                  @include transition;
                }
              }
            }
  
            span,
            p,
            a {
              color: $white-100;
              font-size: 18px;
              line-height: 24px;
              display: inline-block;
              width: 100%;
              margin-bottom: 0;
              @include transition;
            }
          }
        }
      }
    }
  
    // Footer Latest News
    .widget_latest_post {
      ul {
        li {
          .latest-post-thumb {
            width: 60px;
            height: 60px;
          }
  
          .latest-post-desc {
            .latest-post-title {
              margin-bottom: 8px;
              font-size: 16px;
              line-height: 22px;
              color: $white;
              font-weight: 700;
  
              a {
                font-size: 16px;
                line-height: 22px;
                color: $white;
                position: relative;
                text-transform: capitalize;
                font-weight: 700;
                @include transition;
  
                &:hover {
                  color: $primary-color;
                  @include transition;
                }
              }
            }
  
            .latest-post-meta {
              font-size: 14px;
              display: flex;
              align-items: center;
              font-weight: 400;
              gap: 8px;
              color: $white-100;
            }
          }
        }
      }
    }
  }
  
  // Footer Bottom Section
  .footer-bottom-menu {
    ul {
      list-style: none;
      display: flex;
      gap: 0 40px;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      padding-left: 0;
      flex-wrap: wrap;
  
      @include rmaxwd(991) {
        justify-content: flex-start;
      }
  
      li {
        a {
          font-size: 16px;
          text-transform: capitalize;
          color: $white-100;
          @include transition;
  
          &:hover {
            @include transition;
            color: $primary-color;
          }
        }
      }
    }
  }
  
  .footer-bottom-area {
    padding: 16px 0;
    background-color: #0C0C0C;
  
    @include rmaxwd(991) {
      // padding: 30px 0;
    }
  
    .copyright-text {
      @include rmaxwd(767) {
        margin-bottom: 20px;
      }
  
      p {
        color: $white-100;
        margin-bottom: 0;
  
        a {
          color: $white;
          font-weight: 700;
  
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  
    .credit-text {
      p {
        color: $white-100;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
      }
  
      a {
        color: $primary-color;
      }
    }
  }
  
  // Footer Subscribe
  .subscribe-form-area {
    position: relative;
    z-index: 99;
  }
  
  .subscribe-area {
    background-color: $orange-color;
    border-radius: 18px;
    padding: 64px 90px 64px 70px;
    z-index: 2;
    position: relative;
    overflow: hidden;
  
    @include md {
      padding: 40px;
    }
  
    @include sm {
      padding: 40px;
    }
  
    .triangle-shape {
      width: 280px;
      height: 280px;
      background-color: $primary-color;
      border-radius: 28px;
      position: absolute;
      right: -32px;
      bottom: -80px;
      transform: rotate(39deg);
      z-index: -1;
    }
  
    .shape-bg {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
  
      img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  
    .content-wrapper {
      display: flex;
      flex-direction: column;
  
      .short-title {
        font-size: 21px;
        font-weight: 700;
        color: $white;
        margin-bottom: 0;
      }
  
      .subscribe-title {
        color: $white;
        text-transform: capitalize;
        margin-bottom: 0;
        font-size: 48px;
        line-height: 60px;
  
        @include rmaxwd(375) {
          font-size: 34px !important;
        }
  
        @include md {
          font-size: 40px;
          line-height: 42px;
        }
  
        @include sm {
          font-size: 36px;
          line-height: 42px;
        }
      }
  
      .text {
        font-size: 22px;
        color: $white;
        margin-bottom: 0;
        margin-top: 12px;
      }
    }
  
    .subscribe-inner-area {
      display: flex;
      align-items: center;
      gap: 30px;
  
      @include sm {
        flex-direction: column;
      }
  
      .subscribe-form-wrapper {
        margin-top: -12px;
      }
  
      .content-wrapper,
      .subscribe-form-wrapper {
        width: 50%;
  
        @include sm {
          width: 100%;
        }
      }
    }
  }
  
  .subscribe-form-widget {
    position: relative;
  
    .mc4wp-form-fields {
      display: flex;
      background-color: $white;
      border-radius: 12px;
      overflow: hidden;
    }
  
    .single-field {
      flex-grow: 1;
  
      input {
        color: $black-300;
        height: 72px;
        padding: 0 30px;
        font-size: 18px;
        border-radius: 50px;
        width: 100%;
      }
  
      *::-webkit-input-placeholder {
        color: $black-300;
      }
  
      *:-moz-placeholder {
        color: $black-300;
        opacity: 1;
      }
  
      *::-moz-placeholder {
        color: $black-300;
        opacity: 1;
      }
  
      *:-ms-input-placeholder {
        color: $black-300;
      }
  
      *::-ms-input-placeholder {
        color: $black-300;
      }
  
      *::placeholder {
        color: $black-300;
      }
    }
  
    .submit-btn {
      color: $orange-color;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 9px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      background-color: transparent;
    }
  
    // Form Submit Message
    .mc4wp-response {
      position: relative;
      top: 15px;
  
      .mc4wp-alert {
  
        &.mc4wp-error,
        &.mc4wp-success,
        &.mc4wp-notice {
          p {
            color: #fff;
            position: relative;
          }
        }
      }
    }
  }
  
  // Social Widget
  .social-profile {
    display: flex;
    align-items: center;
    gap: 20px;
  
    a {
      color: $white;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition;
  
      &:hover {
        @include transition;
        color: $primary-color;
      }
    }
  }
  
  // Map Widget
  .map-wodget {
    iframe {
      width: 100%;
      height: 448px;
    }
  }