// ABOUT US SECTION
.about-us-section{
    .about-us-right-content{
        .btn-wrapper{
            margin-top: 55px;
        }
    }
}

// BEST SELLING AND BRAND ANIMATION SECTION
.best-selling-and-brand-animation-section{
    padding: 120px 0px 80px;
    background: $gray-200;

    .image{
        img{
            width: 80%;
            height: auto;
            padding: 20px; 
            border: 3px dashed $primary-color;
        }
    }
}