// ABOUT US SECTION
.about-us-section{
    .about-us-right-content{
        .btn-wrapper{
            margin-top: 55px;
        }
    }
} 

// OUR TEAM MEMBER
.our-team-area{
    &.style-1{
        position: relative;
        padding: 120px 0;

        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0;
        }

        .section-title {
            margin-bottom: 40px;
            position: relative;
            z-index: 2;
            @include sm{
                margin-bottom: 20px;
            }
        }
    
        .team-member-gallery-area{
            position: relative;
            z-index: 2;

            .nav-tab{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                @include xs {
                    gap: 10px;
                }
    
                li{
                    height: 237px;
                    cursor: pointer;
                    &.active{
                        border: 5px solid $primary-color;
                        @include transition;
                    }
    
                    .title{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                        }
                    }
                }
            }
            .member-img{
                height: 237px;
                width: 100%;
                position: relative;
    
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }
        .skill-progress-area{
            position: relative;
            z-index: 2;
            background-color: $white;
            padding: 40px;
            margin-left: 2px;
            @include transition;
            @include sm {
                margin-left: 0;
                padding: 30px;
            }
    
            .content{
                margin-bottom: 29px;
                .name{
                    font-family: $heading-font;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                margin-bottom: 10px;
                }
                .designation{
                    font-family: $body-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    color: $gray-800;
                }
            }
            .skill-progressbar-wrapper {
                gap: 16px;
            }
            .counter-card{
                margin-top: 52px;
                .box {
                    background-image: repeating-linear-gradient(-3deg, $primary-color, $primary-color 14px, transparent 14px, transparent 25px, $primary-color 25px), repeating-linear-gradient(87deg, $primary-color, $primary-color 14px, transparent 14px, transparent 25px, $primary-color 25px), repeating-linear-gradient(177deg, $primary-color, $primary-color 14px, transparent 14px, transparent 25px, $primary-color 25px), repeating-linear-gradient(267deg, $primary-color, $primary-color 14px, transparent 14px, transparent 25px, $primary-color 25px);
                    background-size: 2px calc(100% + 25.03px), calc(100% + 25.03px) 2px, 2px calc(100% + 25.03px) , calc(100% + 25.03px) 2px;
                    background-position: 0 0, 0 0, 100% 0, 0 100%;
                    background-repeat: no-repeat;
                    animation: borderAnimation 1s infinite linear;
                    display: inline-flex;
                }
                @keyframes borderAnimation {
                    from { background-position: 0 0, -25.03px 0, 100% -25.03px, 0 100%; }
                    to { background-position: 0 -25.03px, 0 0, 100% 0, -25.03px 100%; }
                }
                   
                .review-object{
                   padding: 20px;
                   padding-bottom: 13px;
                   display: flex;
                   align-items: center;
                   gap: 14px;

    
                    .number{
                        font-size: 48px;
                        line-height: 60px;
                        width: 85px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include sm {
                            font-size: 40px;
                        }
                    }
                    .title{
                        font-family: $heading-font;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 30px;
                        color: $black;
                        @include sm {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

// BRAND ANIMATION  
.brand-slider-section{
    padding: 120px 0px;
    background: $gray-200;
    .brand_slider_wrapper{ 
        cursor: pointer;
        .slider_items{
            width: 20%;
        }
        button{
            display: none!important;
        }
    
        // Slick Dots
        .slick-dots {
          display: none;
        }
    } 
}

.brand-slider-area {
    &.style-1 {
        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0;
        }
    }
}


// LATEST BLOG AND NEWS
.blog-news-section{
 background: $gray-200;
 padding: 120px 0px;
 .blog-news-card{
    &.style-two{
        overflow: hidden;
    }
 }
}

// IMAGE GALLERY
.image-gallery-section{
    background: $gray-200;

}