.about-us-section {
    &.style-one {
    
        @include md {
            padding: 100px 0px !important;
        }
        @include sm {
            padding: 80px 0px !important;
        }

        .about-info-card {
            margin-top: 70px;

            @include rmaxwd(1399) {
                margin-top: 0;
            }
        }
    }
}

.feature-section {
    &.style-one {
        padding-top: 118px;
        padding-bottom: 120px;

        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0;
        }

        .section-title {
            flex-direction: column;
            align-items: center;
            text-align: center;
            // margin-bottom: 40px;
            gap: 0;
           
        }
    }
    &.style-two {
        padding-top: 120px;
        padding-bottom: 120px;
        position: relative;
      
        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0;
        }

        .feature-bg {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }


        .section-title {
            margin-bottom: 60px;
            @include md {
                margin-bottom: 40px;
            }
            @include sm {
                margin-bottom: 40px;
            }

            &.two-column {
                @include sm {
                    gap: 10px;
                }
                @include md {
                    gap: 10px;
                }
                @include lg {
                    gap: 10px;
                }
            }

            .title {
                margin-bottom: 0;
                @include lg {
                    font-size: 42px;
                }
            }
            .sec-desc {
                margin-right: -3px;
                @include rwd(1400){
                    width: 525px;
                }
                @include lg {
                    margin-bottom: 0;
                    width: 420px;
                }
            }
        }
    }
}

.video-popup-section {
    &.style-one {

        .video-popup-image {
            @include xs {
                height: 250px;
            }
        }
        .video-popup-btn {
            background-color: $white;
            border-radius: 50%;
            padding: 15px;
             
            a {
                background-color: $white;
                border: 1px solid $primary-color;
                width: 140px;
                height: 140px;
                @include md {
                    width: 100px;
                    height: 100px;
                }
                @include sm {
                    width: 70px;
                    height: 70px;
                }
                i {
                    color: $primary-color;
                    font-size: 30px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.portfolio-section {
    &.style-one {
        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0;
        }
        .section-title{
            @include sm{
                text-align: center;
            }
        }
        .portfolio-card {
            @include sm {
                padding: 24px 20px;
            }
            .content {
                @include sm {
                    padding-right: 0;
                }
            }
        }
       

        .section-title {
            .sec-content {
                gap: 0;
                margin: 0;

                .title {
                    margin-bottom: 0;
                }
            }
            
            &.two-column {
                margin-bottom: 60px;
                @include md {
                    margin-bottom: 40px;
                    gap: 10px;
                }
                @include sm {
                    margin-bottom: 40px;
                    gap: 10px;
                }
            }
            &.two-column .sec-desc {
                padding-right: 14px;
                padding-left: 9px;

                @include md {
                    padding: 0;
                }
                @include sm {
                    padding: 0;
                }

                .desc {
                    font-size: 16px;
                    margin-bottom: 8px;
                    margin-top: 67px;

                    @include md {
                        margin: 0;
                    }
                    @include sm {
                        margin: 0;
                    }
                }
            }
        }
       
    }
}

.subscribe-section {
    padding-top: 82px;
    padding-bottom: 93px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;

    @include sm {
        padding: 80px 0;
    }

    .section-title {
        margin-bottom: 40px;

        .title {
            margin-bottom: 14px;
        }
        .desc { 
            @include xs {
                padding: 0 15px;
            }
        }
    }

    .desc {
        margin-bottom: 0;
        padding: 0 70px;

    }

    .subscribe-form-widget {
        padding: 0 74px;
        margin-top: -6px;
        @include sm {
            margin-top: 0;
            padding: 0 15px;
        }
        .mc4wp-form-fields{
            border-radius: 0;
            gap: 10px;

            @include sm {
                justify-content: center;
            }
        }
        .single-field {
            input {
                border: 1px solid #E3E3E3;
                color: $black;
                padding: 0 20px;
            }

        }
        .submit-btn {
            padding: 14px 24px;
            color: $white;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 1.28px;
        }
    }

}

.product-section {
    padding-top: 120px;
    padding-bottom: 35px;
    @include rmaxwd(1399){
        padding-bottom: 0;
    }
    @include md {
        padding-top: 100px;
    }
    @include sm {
        padding-top: 80px;
    }
}
.brand-marquee-section {
    &.style-one {
        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0;
        }
    }
}

.cta-section {
    &.style-one {
        @include sm {
            padding: 80px 0;
        }
        .section-title {
            margin-bottom: 20px;
            @include sm {
                margin-bottom: 0;
            }
        }
        .btn-wrapper {
            margin-left: -10px;
        }
    }
}
.testimonial-slider-section {
    &.style-one {
        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0;
        }
        .section-title {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0px;
            gap: 0px;

            @include sm {
                gap: 30px;
            }


            .slider-nav-btn-wrapper {
                .slider-nav-prev-btn, .slider-nav-next-btn {
                    width: 60px;
                    height: 60px;
                    background-color: rgba(217, 161, 76, 0.1);
                    color: $primary-color;
                    font-size: 16px;
                    box-shadow: none;
                    @include transition;

                    &:hover {
                        background-color: $primary-color;
                        color: $white;
                        @include transition;
                    }
                }
            }
            .sec-content {
                margin-bottom: 28px;
                gap: 10px;

                @include sm {
                    margin-bottom: 0;
                }
                .title {
                    @include md {
                        margin-bottom: 0;
                        padding-right: 236px;
                    }
                    @include sm {
                        margin-bottom: 0;
                    }
                }
            }

            .short-title {
                margin-bottom: 0;
            }
            .slider-nav-btn-wrapper {
                gap: 20px;
            }
        }
        .testimonial-card{
            &.style-2{
                padding: 40px;
                padding-right: 80px;
            }
        }
        #testimonial_style_two {
            .slick-prev, .slick-next {
              display: none !important;
            }
            .slick-arrow {
              display: none !important;
            }
        }
    }
}

.latest-posts-section {
    &.style-one {
        @include md {
            padding: 100px 0;
        }
        @include sm {
            padding: 80px 0; 
        }

        .section-title {
            margin-bottom: 60px;
            @include xl{
                gap: 400px;
            }
            @include lg{
                gap: 200px;
            }
            @include sm {
                margin-bottom: 40px;
                gap: 20px;
            }

            .slider-nav-btn-wrapper {
                gap: 20px;
                margin-bottom: 8px;
                .slider-nav-prev-btn, .slider-nav-next-btn {
                    width: 60px;
                    height: 60px;
                    background-color: rgba(217, 161, 76, 0.1);
                    color: $primary-color;
                    font-size: 16px;
                    box-shadow: none;
                    @include transition;
                    

                    &:hover {
                        background-color: $primary-color;
                        color: $white;
                        @include transition;
                    }
                }
            }
            
            .sec-content {
                margin: 0;
                .title {
                    margin-bottom: 0;
                }
            }
        }
        .post-card {
            &.style-2{
                @include sm{
                    margin: 0;
                }
                .content{
                    @include sm{
                        padding: 24px;
                    }
                }
            }
        }        
        #post_card_slider_wrapper {
            .slick-prev, .slick-next {
              display: none !important;
            }
            .slick-arrow {
              display: none !important;
            }
        }
    }
}
