/* Service List Section style four */
.service-list-section{
    &.style-four{
        .service-list-card-wrapper{
            border-right:  1px solid  $gray-800!important;  
            .service-list-card{ 
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                &.border-bottom{
                   border-bottom: 1px solid $gray-800!important; 
                }
                &:hover{
                    .number{
                        color: $primary-color;
                    }
                    .icon{
                        i{
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            color: $primary-color;
}
                    }
                }
            }
        }
    }
}

/* Why Choose Us Section style four */
.why-choose-us-section{
    &.style-four{
        .feature-wrapper{
            margin-bottom: 40px;
            .feature{
                padding-right: 40px;
                h3{
                    color: $white;
                    font-family: $heading-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; /* 125% */
                    margin-bottom: 8px;
                }
                p{ 
                    color: $white;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 187.5% */
                }
            }
        }
    }
}