/* Service List Section style four */
.service-list-section{
    &.style-four{
        .service-list-card-wrapper{
            border-right:  1px solid  $gray-800!important;  
            .service-list-card{ 
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                &.border-bottom{
                   border-bottom: 1px solid $gray-800!important; 
                }
                &:hover{
                    .number{
                        color: $primary-color;
                    }
                    .icon{
                        i{
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            color: $primary-color;
}
                    }
                }
            }
        }
    }
}

/* Why Choose Us Section style four */
.why-choose-us-section{
    &.style-four{
        .feature-wrapper{
            margin-bottom: 40px;
            .feature{
                padding-right: 40px;
                h3{
                    color: $white;
                    font-family: $heading-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; /* 125% */
                    margin-bottom: 8px;
                }
                p{ 
                    color: $white;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 187.5% */
                }
            }
        }
    }
}

/* Team Member Section Style four */
.team-member-section {
    &.style-four{
        .team-member-card{
            .content{
                padding: 30px 45px; 
                background: #282828;
                .name  {
                    color:$white;
                    text-align: center;  
                    font-family: $heading-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; /* 125% */
                }

                .designation{
                    color:$white;
                    text-align: center; 
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 187.5% */
                } 
                
            }
        }
        .team-section-image{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                -o-object-fit: cover;
                object-fit: cover;
                -webkit-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
}
            }
        }
    }

}

/* Awar Section Style Four */
.award-section{
    &.style-four{
        .award-box{ 
            border-top: none;
            border-bottom: 1px solid #616670;
            padding: 40px 0;
            .title-wrapper{
                .title{
                    color: $white; 
                    font-family: $heading-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; /* 125% */
                }
                .year{
                    color: $white; 
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 187.5% */
                }  
            }
            .description{
                color: $white;  
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 187.5% */
                }
            .icon{
                a{
                    i{
                        color: $white ;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        transition: 0.3s;
                        -webkit-transition: 0.3s;
                        -moz-transition: 0.3s;
                        -ms-transition: 0.3s;
                        -o-transition: 0.3s;
                    }

                } 
            }
            &:hover{
                .icon{
                    a{
                        i{
                            color: $primary-color;
                            transform: rotate(-30deg);
                            -webkit-transform: rotate(-30deg);
                            -moz-transform: rotate(-30deg);
                            -ms-transform: rotate(-30deg);
                            -o-transform: rotate(-30deg);
                        }
                    }
                }
            }
        }

    }
}