
// Project Details
.project-page-wrapper {
    padding-top: 144px;
    padding-bottom: 114px;

    @include rmaxwd(991) {
        padding: 100px 0;
    }
    @include rmaxwd(767) {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .basic-pagination {
        margin-bottom: 0;
        margin-top: 30px;
    }
}
.project-detail-section {
    padding: 120px 0;

    @include rmaxwd(991) {
      padding-top: 100px;
      padding-bottom: 150px;
    }
    @include rmaxwd(767) {
       padding-top: 80px;
        padding-bottom: 130px;
    }
}
.tiny-content {
  margin-bottom: 60px;
  p{
    margin-bottom: 20px;
  }
  @include rmaxwd(991) {
    margin-bottom: 40px;
  }
}
.project-gallery-image {
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    &:hover {
        img {
            transform: scale(1.1);
            @include transition;
        }
    }
    img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        @include transition;
    }
}
.project-details-title {
    color: $black;
    margin-bottom: 20px;
    border-bottom: 2px solid $primary-color;
    display: inline-block;
    padding-bottom: 8px;
}
.main-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 20px;

    @include rmaxwd(767) {
        font-size: 28px;
        line-height: 32px;
    }
    @include md {
      font-size: 38px;
      line-height: 42px;
    }
    @include lg {
      font-size: 40px;
      line-height: 46px;
    }
}
.project-info-widget-wrapper {
  @include rmaxwd(1199){
    margin-top: 40px;
  }

  .social-share {
    display: flex;
    align-items: center;
    gap: 15px;


    .social-share-title {
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 27px;
      height: 27px;
      flex-shrink: 0;
      border-radius: 50%;
      color: $white;
      background-color: $blue-color;
      font-size: 18px;

      &.facebook {
        background-color: #4676ED;
      }
      &.pinterest {
        background-color: #C40027;
      }
      &.twitter {
        background-color: #5A99EC;
      }
      &.linkedin {
        background-color: #4467AD;
      }
    }
  }
}
.project-info-widget {
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid $gray-200;
    @include lg {
      flex-direction: column;
      justify-content: space-between;
    }
    .info-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        p {
          font-family: $body-font;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          color: $gray-800;
          margin-bottom: 0;
        }
        h6 {
          font-family: $heading-font;
          font-size: 18px;
          font-weight: 700;
          line-height: 27px; 
          color: $black;
          margin-bottom: 0;

        }
    }
}
.sidebar-image{
  margin-top: 60px;
  position: relative;
  // width: 410px;
  //   height: 212px;
  &:before{
    content: "";
    background-color: $primary-color;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  @include sm{
    width: auto;
    height: auto;
  }
  img{
    width: 100%;
  
  }
}

// Process Step section
.process-step-section {
  &.style-2 {
    padding-top: 30px;
    padding-bottom: 20px;

    @include rmaxwd(991) {
      padding-bottom: 0;
    }
    .process-step {
      &.style-2 {
        border: 1px solid rgb(199, 199, 225);
        border-radius: 12px;
        padding: 30px;
        text-align: left;
        align-items: flex-start;
        gap: 20px;
        margin-top: 30px;

        .icon {
          width: 48px;
          height: 48px;
          box-shadow: none;
          background-color: $blue-color;

          &:before {
            display: none;
          }
          .count {
            position: unset;
            transform: unset;
            top: unset;
            width: unset;
            height: unset;
            background-color: transparent;

            span {
              font-size: 21px;
              font-weight: 500;
            }
          }
        }
        .content {
          gap: 10px;
        }
      }
    }
  }
}
