.team-details-section {
    padding-top: 130px;
    padding-bottom: 120px;

    @include sm {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include md {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include lg {
        padding-top: 120px;
    }
    .image-wrapper{
        position: relative;
        img{
            width: 100%;
        }
        .social-share{
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $gray-100;
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            border-radius: 33px 0px 0px 0px;
        }
    }
    .team-details-wrapper{
        @include rmaxwd(991){
            margin-top: 30px;
        }
        .main-title{
            margin-bottom: 10px;
            font-weight: 700;
            line-height: 60px;
            text-transform: capitalize;
            @include rmaxwd(991){
                margin-bottom: 0;
            }
        }
        .sub-title{
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; 
            margin-bottom: 20px;
        }
        .content{
            color: $text-color;
            margin-bottom: 30px;
        }
        .sort-title{
            margin-bottom: 20px;
        }
        .skill-progress-card{
            margin-bottom: 30px;
            display: block;
            .skill-progressbar{
                margin-bottom: 20px;
            }
        }
        .list-item-wrapper{ 
            .list-item{
                .icon{
                    font-size: 16px;
                }
            }
        }
    }
}

// Our Team Members
.our-team-section{
    &.style-three{
        .section-title{
            margin-bottom: 60px;
            @include xl{
                margin-bottom: 40px;
            }
            @include rmaxwd(1199){
                margin-bottom: 30px;
            }
            .title{
                br{
                    @include lg{
                    display: none;
                    }
                }
            }
        }
        .section-img{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                @include transition;
                @include md{
                    position: relative;
                }
                &:hover{
                    transform: scale(1.05);
                    @include transition;
                }
            }
        }
        .team-card-wrapper{
            margin-top: 30px;
            @include sm{
              margin-top: 0;
            }
          }
    }
}