.team-member-card {
  position: relative;
  background-color: $gray-100;
  top: 0;
  @include transition;
  &:before{
    content: "";
    width: 100%;
    height: 5px;
    background-color: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    @include transition;

  }
  &:hover {
    top: -5px;
    @include transition;
    &:before{
      transform: scaleX(1);
    }
   .image {
     &:before {
       height: 250%;
       transition: all 900ms linear;
       background-color: transparent;
     }
     img {
       transform: scale(1.1);
       @include transition;
     }
   }
  }
  .image {
    overflow: hidden;
    position: relative;

    &:before {
      position: absolute;
      width: 200%;
      height: 0%;
      left: 50%;
      top: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      transform: translate(-50%, -50%) rotate(-45deg);
      content: "";
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
      transform: scale(1);
      @include transition;
    }
  }
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    width: 100%;
    z-index: 2;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      gap: 5px;

      .title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: $black;
        font-family: $heading-font;
        margin: 0;

        @include lg {
          font-size: 21px;
        }
      }
      .desc {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: $text-color;
        font-family: $body-font;
        margin: 0;
      }
    }
    .social {
      background: $primary-color;
      padding: 18px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 22px;
      width: 94%;
      margin-top: -60px;
      z-index: -1;
      transition: all 0.5s ease-out;
      a {
        &:hover {
          color: $primary-color;
          @include transition





          ;
        }
      }
      i {
        color: $white;
      }
    }
  }
  &:hover {
    .content-wrapper {
      .content {
        z-index: 1;
      }
      .social {
        margin-top: 0;
        z-index: 0;
      }
    }
  }
  @include sm {
    margin-bottom: 50px;
  }
  @include md {
    margin-bottom: 50px;
  }
}
