.page-breadcrumb-section {
  padding-top: 215px;
  padding-bottom: 125px;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #000000B2;

  @include sm {
    padding-top: 168px;
    padding-bottom: 100px;
  }
}
.page-overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.page-heading {
  h3,
  .page-title {
    font-family: $heading-font;
    font-size: 48px;
    color: $white;
    margin-bottom: 0;
    text-transform: capitalize;
    line-height: initial;
    font-weight: 600;
    text-align: center;

    @include rmaxwd(375) {
      font-size: 32px;
      line-height: 42px;
    }
    @include sm {
      font-size: 42px;
      line-height: 52px;
    }
  }
}
.breadcrumb-wrapper {
  padding: 0px;

  @include rmaxwd(1199) {
    padding: 0;
  }
}
.breadcrumb-list {
  text-align: center;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    display: inline-flex;
    gap:0 12px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
    li {
      list-style: none;
      display: inline-flex;
      gap:0 12px;
      align-items: center;
      color: #fff;
      &.active {
        // color: $primary-color;

        a {
          // color: $primary-color;
        }
      }
      a {
        font-family: $body-font;
        font-size: 16px;
        color: $white;
        text-transform: capitalize;
        line-height: 29px;
        font-weight: 400;
        margin-bottom: 0;
        @include transition;


        &:hover {
          @include transition;
           color: $primary-color;
        }
      }

       &:before {
         content: "\f054";
         font-size: 12px;
         font-family: $font-awesome;
         display: inline-flex;
       }

      &:first-child {
       &:before {
         display: none;

         @include rmaxwd(375) {
           display: block !important;
         }
       }
      }
    }
  }
}
